$color-primary: #091833;
$color-primary-light: #133e7c;
$color-secondary: #711c91;
$color-secondary-light: #ea00d9;
$color-tertiary: #0abdc6;

$transition-speed: .25s;

$font-base-size: 1rem;
$font-headline: 'Orbitron', sans-serif;
$font-body: 'Orbitron', sans-serif;
